![Axel Narcissa Token]({{'/assets/img/tokens/token-axel-narcissa.png' | relative_url}})

<div class="stat-block">
  <h2>Axel Narcissa</h2>
  <em class="stat-block-size-type-alignment">Medium Humanoid (High Elf), Neutral</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 15 (Leather Armor)</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 60</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>18 (+4)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>10 (+0)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Saves </strong>DEX +7, INT +4</p>
  <p class="stat-block-attribute"><strong>Skills </strong>Acrobatics +7, Athletics +4, History +4</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Common, Dwarvish, Elvish</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>5</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+3</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Sneak Attack (1/Turn).</em></strong>
    Axel deals an extra 12 (4d6) damage when he hits a target with a weapon attack and has advantage on the attack roll or when the target is within 5 ft. of an ally of Axel that isn't incapacitated and the thief doesn't have disadvantage on the attack roll.
  </p>
  <p>
    <strong><em>Uncanny Dodge.</em></strong>
    When an attacker that you can see hits you with an attack, you can use your reaction to halve the attack's damage against you.
  </p>
  <h3>Actions</h3>
  <p>
    <strong><em>Multiattack.</em></strong>
    Axel makes three attacks; two rapier attacks and one dagger attack.
  </p>
  <p>
    <strong><em>Dagger.</em></strong>
    <em>Melee or Ranged Weapon Attack:</em>
    +7 to hit, range 5/20/60ft., one target. Hit: (1d4+4) piercing damage.
  </p>
  <p>
    <strong><em>Rapier.</em></strong>
    <em>Melee Weapon Attack:</em>
    +7 to hit, reach 5 ft., one target. Hit: (1d8+4) piercing damage.
  </p>
</div>