![Boneless Token](/assets/img/tokens/token-boneless.png)

<div class="stat-block">
  <h2>Boneless</h2>
  <em class="stat-block-size-type-alignment">Medium Undead, Chaotic Evil</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 12</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 26</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>16 (+3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>15 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>1 (-5)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>1 (-5)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Skills </strong>Stealth +4</p>
  <p class="stat-block-attribute"><strong>Senses </strong>Darkvision 60ft., Passive Perception 10</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Understands Common</p>
  <p class="stat-block-attribute"><strong>Condition Immunities </strong>Charmed, Exhaustion, Frightened</p>
  <p class="stat-block-attribute"><strong>Damage Resistances </strong>Bludgeoning, Poison</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>1</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Compression.</em></strong>
    The boneless can move through any opening at least 1 inch wide without squeezing. It can also squeeze to fit into a space that a Tiny creature could fit in.
  </p>
  <p>
    <strong><em>Unusual Nature.</em></strong>
    The boneless doesn't require sleep.
  </p>
  <h3>Actions</h3>
  <p>
    <strong><em>Multiattack.</em></strong>
    The boneless makes two Slam attacks. If both attacks hit a large or smaller creature, the creature is grappled (escape DC 13), and the boneless can use Crushing Embrace.
  </p>
  <p>
    <strong><em>Slam.</em></strong>
    <em>Melee Weapon Attack:</em>
    +5 to hit, reach 5 ft., one target. Hit: 5 (1d4 + 3) bludgeoning damage.
  </p>
  <p>
    <strong><em>Crushing Embrace.</em></strong>
    The boneless wraps its body around a Large or smaller creature grappled by it. While the boneless is attached, the target is blinded and is unable to breathe. The target must succeed on a DC 13 Strength saving throw at the start of each of the boneless' turns or take 5 (1d4 + 3) bludgeoning damage. If something moves the target, the boneless moves with it. The boneless can detach itself by spending 5 feet of its movement. A creature, including the target, can use its action to try to detach the boneless and force it to move into the nearest unoccupied space, doing so with a successful DC 13 Strength check. When the boneless dies, it detaches from any creature it is attached to.
  </p>
</div>