![Boneless Token](/assets/img/tokens/token-bouncer.png)

<div class="stat-block">
  <h2>Bouncer</h2>
  <em class="stat-block-size-type-alignment">Medium Humanoid, Neutral</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 13 (Studded Leather Armor)</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 76</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>16 (+3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>15 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>1 (-5)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>1 (-5)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Saves </strong>STR +5, CON +4</p>
  <p class="stat-block-attribute"><strong>Skills </strong>Athletics +5, Intimidation +3</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Common</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>2</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <h3>Actions</h3>
  <p>
    <strong><em>Multiattack.</em></strong>
    The bouncer makes two slam attacks.
  </p>
  <p>
    <strong><em>Slam.</em></strong>
    <em>Melee Weapon Attack:</em>
    +5 to hit, reach 5 ft., one target. Hit: (1d12 + 3) bludgeoning damage.
  </p>
</div>