![Cultist of Asmodeus Token]({{'/assets/img/tokens/token-cultist-of-asmodeus.png' | relative_url}})

<div class="stat-block">
  <h2>Cultist of Asmodeus</h2>
  <em class="stat-block-size-type-alignment">Medium Humanoid, Lawful Evil</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 12</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 9</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>11 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>11 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>14 (+2)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Skills </strong>Deception +4, Persuasion +4, Religion +2</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Common, Infernal</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>1/8</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Dark Devotion.</em></strong>
    The cultist has advantage on saving throws against being charmed or frightened.
  </p>
  <p>
    <strong><em>Spellcasting.</em></strong>
    This creature is an 1st-level spellcaster. Their spellcasting ability is Charisma (spell save DC 12; +4 to hit with spell attacks). they have the following spells prepared:
  </p>
  <ul>
    <li><strong>Cantrips (at will):</strong>  chill touch, firebolt</li>
  </ul>
  <h3>Actions</h3>
  <p>
    <strong><em>Scimitar.</em></strong>
    <em>Melee Weapon Attack:</em>
     +3 to hit, range 5ft., one target. Hit: (1d6+1) slashing damage.
  </p>
</div>
