![Desert Scorpion Token]({{'/assets/img/tokens/token-desert-scorpion.png' | relative_url}})

<div class="stat-block">
  <h2>Desert Scorpion</h2>
  <em class="stat-block-size-type-alignment">Gargantuan Beast, Unaligned</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 18 (Natural Armor)</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 281</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 40ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>20 (+5)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>13 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>18 (+4)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>1 (-5)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>9 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>3 (-4)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Saves </strong>STR +10, CON +9</p>
  <p class="stat-block-attribute"><strong>Senses </strong>Blindsight 60ft.</p>
  <p class="stat-block-attribute"><strong>Damage Resistances </strong>bludgeoning, piercing, and slashing from non magical weapon attacks.</p>
  <p class="stat-block-attribute"><strong>Languages </strong>--</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>15</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+5</p>
  {%- include stat-block-divider.html -%}
  <h3>Actions</h3>
  <p>
    <strong><em>Multiattack.</em></strong>
    The Desert Scorpion makes two claw attacks and one stinger attack.
  </p>
  <p>
    <strong><em>Claw.</em></strong>
    <em>Melee Weapon Attack:</em>
    +8 to hit, reach 10 ft., one target. Hit: (3d8 + 5) bludgeoning damage. The target is grappled (Escape DC 18) The scorpion has two claws, each of which can grapple only one target.
  </p>
  <p>
    <strong><em>Sting.</em></strong>
    <em>Melee Weapon Attack:</em>
    +8 to hit, reach 15 ft., one creature. Hit: (3d10 + 5) piercing damage. The target must make a DC 18 Constitution saving throw, taking 6d10 poison damage on a failed save or half as much damage on a successful save.
  </p>
  <h3>Legendary Actions</h3>
  <p>
    The Desert Scorpion can take 3 legendary actions, choosing from the options below. Only one legendary action option can be used at a time and only at the end of another creature's turn. The Desert Scorpion regains spent legendary actions at the start of its turn.
  </p>
  <p>
    <strong>Detect.</strong> The Desert Scorpion makes a Wisdom (Perception) check.
  </p>
  <p>
    <strong>Burrow ( Costs 3 Actions ).</strong> The Desert Scorpion makes a dash action, burrowing 30ft vertically under the sand and 30ft in a random direction. It surfaces at the start of its next turn. Any creature within 10ft. of the Desert Scorpion must succeed a DC 18 Dexterity saving throw or take 4d10 bludgeoning damage.
  </p>
  <p>
    <strong>Claw ( Costs 2 Actions ).</strong> The Desert Scorpion makes one claw attack.
  </p>
</div>
