![Ember Bat Token](/assets/img/tokens/token-ember-bat.png)

<div class="stat-block">
  <h2>Ember Bat</h2>
  <em class="stat-block-size-type-alignment">Tiny Beast, Unaligned</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 14</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 6</p>
  <p class="stat-block-attribute"><strong>Speed</strong> fly 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>4 (-3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>18 (+4)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>13 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>4 (-3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>13 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>18 (+4)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Senses </strong>Darkvision 120ft., Passive Perception 13</p>
  <p class="stat-block-attribute"><strong>Damage Immunities </strong>Fire</p>
  <p class="stat-block-attribute"><strong>Damage Vulnerabilities </strong>Thunder</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>1/4</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Glow.</em></strong>
    This creature can emit a 20 foot radius warm light around itself.
  </p>
  <h3>Actions</h3>
  <p>
    <strong><em>Ember.</em></strong>
    <em>Ranged Weapon Attack:</em>
    +4 to hit, range 15ft., 1d6+2 fire damage. Anything this attack hits, that is flammable, catches fire.
  </p>
</div>