![Emerald Carbuncle Token](/assets/img/tokens/ffxiv-token-carbuncle.png)

<div class="stat-block">
  <h2>Emerald Carbuncle</h2>
  <em class="stat-block-size-type-alignment">Tiny Beast, Unaligned</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 14</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 16</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 30ft</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>6 (-2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>13 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>11 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>14 (+2)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Challenge </strong>-</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <h3>Actions</h3>
  <p>
    <strong><em>Downburst.</em></strong>
    <em>Melee Spell Attack:</em>
    +5 to hit, Reach 5ft., one target. 1d8+4 thunder damage
  </p>
  <p>
    <strong><em>Gust.</em></strong>
    <em>Ranged Spell Attack:</em>
    +5 to hit, Reach 30ft., one target. Hit: 1d6+4 thunder damage
  </p>
  <p>
    <strong><em>Back Draft (Recharge 6).</em></strong>
    <em>Melee Spell Attack:</em>
    +5 to hit, reach 5ft., one target. Hit: 1d6+4 thunder damage. When a creature is hit by Back Draft, that creature must make a DC 13 Strength saving throw. On a failed save, they are knocked back 10ft., and are not knocked back on a success.
  </p>
</div>