![Grace Mendoza Token](/assets/img/tokens/token-grace-mendoza.png)

<div class="stat-block">
  <h2>Grace Mendoza</h2>
  <em class="stat-block-size-type-alignment">Medium Humanoid (Dwarf), Lawful Evil</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 11 ( Mage Armor 14 )</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 30</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 25ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>18 (+4)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>16 (+3)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Skills </strong>Deception +5, Medicine +4</p>
  <p class="stat-block-attribute"><strong>Senses </strong>Darkvision 120ft., Passive Perception 10</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Common, Dwarvish</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>1</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Regeneration.</em></strong>
    The doctor regains 10 hit points at the start of each of its turns if it has at least 1 hit point and isn't in sun-light. If the doctor takes radiant damage, this trait doesn't function until the start of the doctor's next turn.
  </p>
  <p>
    <strong><em>Form of Dead.</em></strong>
    Once during each of your turns, when you hit a creature with an attack, you can force it to make a Wisdom saving throw, and if the saving throw fails, the target is frightened of you until the end of your next turn.
  </p>
  <p>
    You can transform a number of times equal to your proficiency bonus, and you regain all expended uses when you finish a long rest.
  </p>
  <p>
    The appearance of your Form of Dread reflects some aspect of your patron. For example, your form could be a shroud of shadows forming the crown and robes of your lich patron, or your body might glow with glyphs from ancient funerary rites and be surrounded by desert winds, suggesting your mummy patron.
  </p>
  <p>
    <strong><em>Armor of Shadows.</em></strong>
    You can cast mage armor on yourself at will, without expending a spell slot or material components.
  </p>
  <p>
    <strong><em>Spellcasting.</em></strong>
    This creature is an 2nd-level spellcaster. Their spellcasting ability is Charisma (spell save DC 14; +6 to hit with spell attacks). They regain their expended spell slots when they finishes a short or long rest. They know the following warlock spells.
  </p>
  <ul>
    <li><strong>Cantrips (at will):</strong>  eldritch blast, frostbite, minor illusion</li>
    <li><strong>1st-2nd Level (2 2nd level slots):</strong> charm person, hellish rebuke, mage armor</li>
  </ul>
</div>