
![High Priest of Asmodeus Token]({{'/assets/img/tokens/token-high-priest-of-asmodeus.png' | relative_url}})

<div class="stat-block">
  <h2>High Priest of Asmodeus</h2>
  <em class="stat-block-size-type-alignment">Medium Humanoid, Lawful Evil</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 13 (Chain Shirt)</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 27</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>13 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>16 (+3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>16 (+3)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Skills </strong>Deception +5, Persuasion +5, Religion +3</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Common, Infernal</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>2</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Dark Devotion.</em></strong>
    The priest has advantage on saving throws against being charmed or frightened.
  </p>
  <p>
    <strong><em>Divine Eminence.</em></strong>
    As a bonus action, the priest can expend a spell slot to cause its melee weapon attacks to magically deal an extra 10 (3d6) necrotic damage to a target on a hit. This benefit lasts until the end of the turn. If the priest expends a spell slot of 2nd level or higher, the extra damage increases by 1d6 for each level above 1st.
  </p>
  <p>
    <strong><em>Spellcasting.</em></strong>
    This creature is an 5th-level spellcaster. Their spellcasting ability is Charisma (spell save DC 13; +5 to hit with spell attacks). they have the following spells prepared:
  </p>
  <ul>
    <li><strong>Cantrips (at will):</strong>  chill touch, firebolt, light, resistance, thaumaturgy</li>
    <li><strong>1st Level (4 slots):</strong> bane, cure wounds, command</li>
    <li><strong>2nd Level (3 slots):</strong> hold person, spiritual weapon</li>
    <li><strong>3rd Level (2 slots):</strong> animate dead, bestow curse</li>
  </ul>
  <h3>Actions</h3>
  <p>
    <strong><em>Mace.</em></strong>
    <em>Melee Weapon Attack:</em>
     +2 to hit, reach 5ft., one target. Hit 3 (1d6) bludgeoning damage.
  </p>
</div>
