
![Josephus Dawes Token]({{'/assets/img/tokens/token-josephus-dawes.png' | relative_url}})

<div class="stat-block">
  <h2>Josephus Dawes</h2>
  <em class="stat-block-size-type-alignment">Medium Humanoid (Human), Chaotic Evil</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 12</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 60</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>16 (+3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>18 (+4)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Saves </strong>WIS +6, CHA +7</p>
  <p class="stat-block-attribute"><strong>Skills </strong>Insight +6, Persuasion +7, Religion +3</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Common, Celestial</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>5</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+3</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Channel Divinity: Touch of Death.</em></strong>
    You can use Channel Divinity to destroy another creature's life force by touch. When you hit a creature with a melee attack you may use Channel Divinity to deal extra necrotic damage to the target. The damage equals 19.
  </p>
  <p>
    <strong><em>Inescapable Destruction.</em></strong>
    Necrotic damage dealt by your cleric spells and Channel Divinity options ignores resistance to necrotic damage.
  </p>
  <p>
    <strong><em>Spellcasting.</em></strong>
    This creature is an 7th-level spellcaster. Their spellcasting ability is Charisma (spell save DC 15; +7 to hit with spell attacks). they have the following spells prepared:
  </p>
  <ul>
    <li><strong>Cantrips (at will):</strong> light, thaumaturgy, spare the dying, toll the dead, word of radiance</li>
    <li><strong>1st Level (4 slots):</strong> command, cure wounds, false life, guiding bolt, inflict wounds, ray of sickness</li>
    <li><strong>2nd Level (3 slots):</strong> blindness/deafness, hold person, locate object, ray of enfeeblement, silence</li>
    <li><strong>3rd Level (3 slots):</strong> animate dead, meld into stone, spirit guardians, vampiric touch</li>
    <li><strong>4th Level (1 slots):</strong> banishment, blight, death ward</li>
  </ul>
  <h3>Actions</h3>
  <p>
    <strong><em>Dagger.</em></strong>
    <em>Melee or Ranged Weapon Attack:</em>
    +5 to hit, range 5/20/60ft, 1d4+2 piercing damage.
  </p>
</div>
