
![Max Glimmer Token]({{'/assets/img/tokens/token-max-glimmer.png' | relative_url}})

<div class="stat-block">
  <h2>Max Glimmer</h2>
  <em class="stat-block-size-type-alignment">Medium Humanoid (Human), Neutral Evil</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 13</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 15</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>16 (+3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>10 (+0)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Saves </strong>DEX +5</p>
  <p class="stat-block-attribute"><strong>Skills </strong>Athletics +4</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Common, Celestial</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>1/8</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
</div>
