![Playful Kitten Token]({{'/assets/img/tokens/token-playful-kitten.png' | relative_url}})

<div class="stat-block">
  <h2>Playful Kitten</h2>
  <em class="stat-block-size-type-alignment">Tiny Beast, Chaotic Neutral</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 15</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 25</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 40ft, climb 30ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>3 (-4)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>16 (+3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>16 (+3)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Skills </strong>Perception +2, Stealth +7</p>
  <p class="stat-block-attribute"><strong>Senses </strong>Darkvision 120ft.</p>
  <p class="stat-block-attribute"><strong>Languages </strong>--</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>1/2</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Keen Smell.</em></strong>
    The playful kitten has advantage on Wisdom (Perception) checks that rely on smell.
  </p>
  <h3>Actions</h3>
  <p>
    <strong><em>Multitattack.</em></strong>
    The playful kitten makes two claw attacks.
  </p>
  <p>
    <strong><em>Claw.</em></strong>
    <em>Melee Weapon Attack:</em>
     +5 to hit, reach 5ft., one target. Hit: (1d4+3) slashing damage.
  </p>
</div>
