![Seer Larva Token](/assets/img/tokens/seers-seer-larva-token-C7BWPVXO.png)

<div class="stat-block">
  <h2>Seer Larva</h2>
  <em class="stat-block-size-type-alignment">Large Celestial, Chaotic Neutral</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 18</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 110</p>
  <p class="stat-block-attribute"><strong>Speed</strong> Hover 10ft</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>18 (+4)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>12 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>18 (+4)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Saving Throws </strong>INT +7, WIS +4, CHA +7</p>
  <p class="stat-block-attribute"><strong>Skills </strong>History +7, Nature +7, Perception +4, Performance +7</p>
  <p class="stat-block-attribute"><strong>Senses </strong>Darkvision 120ft., Passive Perception 22</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Celestial, Telepathy 120ft</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>8</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+3</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>  Legendary Resistance (3/Day).</em></strong>
    If the Seer fails a saving throw, it can choose to succeed instead.
  </p>
    <p>
    <strong><em>Magic Resistance.</em></strong>
    The Seer has advantage on saving throws against spells and other magical effects.
  </p>
  <p>
    <strong><em>Spellcasting.</em></strong>
    This creature is a 9th-level spellcaster. Their spellcasting ability is Intelligence (spell save DC 15; +7 to hit with spell attacks). they have the following spells prepared:
  </p>
  <ul>
    <li><strong>Cantrips (at will):</strong> mage hand, mending, mind sliver</li>
    <li><strong>1st Level (4 slots):</strong> charm person, magic missile, shield, thunderwave</li>
    <li><strong>2nd Level (3 slots):</strong> crown of madness, detect thoughts, hold person, invisibility, mirror image</li>
    <li><strong>3rd Level (3 slots):</strong> blink, counterspell, dispel magic, fireball</li>
    <li><strong>4th Level (3 slots):</strong> blight, hallucinatory terrain, polymorph</li>
    <li><strong>5th Level (1 slots):</strong> conjure elemental, scrying</li>
  </ul>
  <h3>Actions</h3>
  <p>
    <strong><em>Mind Blast (Recharge 5–6).</em></strong>
    <em>Ranged Spell Attack:</em>
    The Seer Larva magically emits creates blasts of energy in space. Creatures of the elder Seer's choice within 60 feet of it must succeed on a DC 15 Strength saving throw or take 4d10+5 force damage, half as much on a success, and be knocked prone.
  </p>
  <p>
    <strong><em>Tentacles.</em></strong>
    <em>Melee Weapon Attack:</em>
    +7 to hit, reach 5ft. Hit: 2d10+4 Force damage. If the target is Medium or smaller, it is grappled (escape DC 15) and must succeed on a DC 15 Intelligence saving throw or be stunned until this grapple ends.
  </p>
</div>