
![Spectator Token]({{'/assets/img/tokens/token-spectator.png' | relative_url}})

<div class="stat-block">
  <h2>Spectator</h2>
  <em class="stat-block-size-type-alignment">Medium Aberration, Lawful Neutral</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 14</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 39</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 0ft, fly 30 ft. (hover)</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>13 (+1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>11 (+0)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Skills </strong>Perception +6</p>
  <p class="stat-block-attribute"><strong>Senses </strong>Darkvision 120 ft., Passive Perception 16</p>
  <p class="stat-block-attribute"><strong>Condition Immunities </strong>Prone</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>3</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+2</p>
  {%- include stat-block-divider.html -%}
  <h3>Actions</h3>
  <p>
    <strong><em>Bite.</em></strong>
    <em>Melee Weapon Attack:</em>
    +1 to hit, reach 5 ft., one target. Hit: 2 (1d6 - 1) piercing damage.
  </p>
  <p>
    <strong><em>Eye Rays.</em></strong>
    <ol>
      <li>
        <em>Confusion Ray.</em>
        The target must succeed on a DC 13 Wisdom saving throw, or it can't take reactions until the end of its next turn. On its turn, the target can't move, and it uses its action to make a melee or ranged attack against a randomly determined creature within range. If the target can't attack, it does nothing on its turn.
      </li>
      <li>
        <em>Paralyzing Ray.</em>
        The target must succeed on a DC 13 Constitution saving throw or be paralyzed for 1 minute. The target can repeat the saving throw at the end of each of its turns, ending the effect on itself on a success.
      </li>
      <li>
        <em>Fear Ray.</em>
        The target must succeed on a DC 13 Wisdom saving throw or be frightened for 1 minute. The target can repeat the saving throw at the end of each of its turns, with disadvantage if the spectator is visible to the target, ending the effect on itself on a success.
      </li>
      <li>
        <em>Wounding Ray.</em>
        The target must make a DC 13 Constitution saving throw, taking 16 (3d10) necrotic damage on a failed save, or half as much damage on a successful one.
      </li>
    </ol>
  </p>
  <p>
    <strong><em>Create Food and Water.</em></strong>
    The spectator magically creates enough food and water to sustain itself for 24 hours.
  </p>
  <h3>Reactions</h3>
  <p>
    <strong><em>Spell Reflection.</em></strong>
    If the spectator makes a successful saving throw against a spell, or a spell attack misses it, the spectator can choose another creature (including the spellcaster) it can see within 30 feet of it. The spell targets the chosen creature instead of the spectator. If the spell forced a saving throw, the chosen creature makes its own save. If the spell was an attack, the attack roll is rerolled against the chosen creature.
  </p>
</div>