![The Embroidermancer Token]({{'/assets/img/tokens/token-the-embroidermancer.png' | relative_url}})

<div class="stat-block">
  <h2>The Embroidermancer</h2>
  <em class="stat-block-size-type-alignment">Medium Humanoid, Chaotic Evil</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 12</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 60</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 20ft., fly 30ft. She can hover with her yarn needle throne.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>10 (+0)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>18 (+4)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>15 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>15 (+2)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Saving Throws </strong>INT +7, WIS +5</p>
  <p class="stat-block-attribute"><strong>Skills </strong>Arcana +7, History +7</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Common, Elvish, Infernal, Undercommon</p>
  <p class="stat-block-attribute"><strong>Condition Immunities </strong>Frightened</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>5</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+3</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Floating Throne.</em></strong>
    The Embroidermancer sits upon a throne of yarn and needles, granting The Embroidermancer 30ft. of flying.
  </p>
  <p>
    <strong><em>Yarn Spells.</em></strong>
    All spells are flavored to be yarn and knitting themed.
  </p>
  <p>
    <strong><em>Spellcasting.</em></strong>
    This creature is an 8th-level spellcaster. Their spellcasting ability is Intelligence (spell save DC 15; +7 to hit with spell attacks). they have the following spells prepared:
  </p>
  <ul>
    <li><strong>Cantrips (at will):</strong>  mage hand, mending, shocking grasp, thorn whip</li>
    <li><strong>1st Level (4 slots):</strong> catapult, color spray, entangle, mage armor</li>
    <li><strong>2nd Level (3 slots):</strong> cloud of daggers, enlarge/reduce, rope trick</li>
    <li><strong>3rd Level (3 slots):</strong> lightning bolt, spirit guardians, tidal wave</li>
    <li><strong>4th Level (2 slots):</strong> black tentacles, polymorph</li>
  </ul>
  <h3>Actions</h3>
  <p>
    <strong><em>Multiattack.</em></strong>
    The Embroidermancer makes two needle attacks.
  </p>
  <p>
    <strong><em>Needle.</em></strong>
    <em>Ranged Weapon Attack:</em>
     +3 to hit, range 60/120 ft., one target. Hit: (1d4) piercing damage.
  </p>
  <h3>Lair Actions</h3>
  <p>
    On initiative 20, The Embroidermancer takes a lair action to cause one of the following effects; The Embroidermancer can't use the same effect two rounds in a row.
  </p>
  <ul>
    <li>
      <strong>Needle Attack.</strong>
      The Embroidermancer makes a Needle attack.
    </li>
    <li>
      <strong>Puppeteer Dead.</strong>
      The animate dead spell targets buried corpses underneath the house with long strands of yarn that emit from thin air.
    </li>
    <li>
      <strong>Yarn Web.</strong>
      If the Tidal Wave spell has been used, this lair action is automatically chosen. The web spell is used on a point where the tidal wave spell landed.
    </li>
  </ul>
</div>
