![Titan Token]({{'/assets/img/tokens/token-titan.png' | relative_url}})

<div class="stat-block">
  <h2>Titan</h2>
  <em class="stat-block-size-type-alignment">Gargantuan Construct, Lawful Neutral</em>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Armor Class</strong> 15</p>
  <p class="stat-block-attribute"><strong>Hit Points</strong> 330</p>
  <p class="stat-block-attribute"><strong>Speed</strong> 10ft.</p>
  {%- include stat-block-divider.html -%}
  <div class="stat-block-array">
    <div class="stat-block-array-item">
      <strong>STR</strong>
      <p>24 (+7)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>DEX</strong>
      <p>8 (-1)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CON</strong>
      <p>22 (+6)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>INT</strong>
      <p>4 (-3)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>WIS</strong>
      <p>14 (+2)</p>
    </div>
    <div class="stat-block-array-item">
      <strong>CHA</strong>
      <p>1 (-5)</p>
    </div>
  </div>
  {%- include stat-block-divider.html -%}
  <p class="stat-block-attribute"><strong>Skills </strong>Perception +14</p>
  <p class="stat-block-attribute"><strong>Condition Immunities </strong>poisoned, exhausted, charmed, frightened</p>
  <p class="stat-block-attribute"><strong>Damage Resistances </strong>cold, fire, lightning, poison</p>
  <p class="stat-block-attribute"><strong>Damage Immunities </strong>psychic</p>
  <p class="stat-block-attribute"><strong>Senses </strong>Truesight 180ft., passive Perception 14</p>
  <p class="stat-block-attribute"><strong>Languages </strong>Telepathy infinite ft.</p>
  <p class="stat-block-attribute"><strong>Challenge </strong>18</p>
  <p class="stat-block-attribute"><strong>Proficiency Bonus </strong>+6</p>
  {%- include stat-block-divider.html -%}
  <p>
    <strong><em>Siege Monster.</em></strong>
    The elemental deals double damage to objects and structures.
  </p>
  <p>
    <strong><em>Divine Control.</em></strong>
    Any attempt made to communicate with this creature, read its thoughts, or exert control on it in any way causes the instigator to make a DC 19 WIS saving throw. On a failure, the instigator takes 28 (4d10+7) psychic damage, as the one in control of this construct causes them severe pain. The divine controller is also learns of that creature's surface level thoughts. On a success, the intent of the instigating spell happens and this creature is restrained until the start of its next turn.
  </p>
  <p>
    <strong><em>Final Order.</em></strong>
    Upon reaching below 30 hit points, this creature will enter an uncontrollable rage. Add 5d6 to each attack roll this creature makes. All attacks have advantage on this creature. This creature's speed becomes 30ft. and all attempts to control this creature automatically fail.
  </p>
  <h3>Actions</h3>
  <p>
    <strong><em>Multiattack.</em></strong>
    The titan makes three slam attacks.
  </p>
  <p>
    <strong><em>Charm.</em></strong>
    +11 to hit, reach 10ft. Hit: 4d6+7 Bludgeoning damage.
  </p>
  <p>
    <strong><em>Slam.</em></strong>
    <em>Melee Weapon Attack:</em>
    +13 to hit, reach 10ft., one target. Hit: 14 (2d8+7) bludgeoning damage.
  </p>
  <p>
    <strong><em>Tectonic Wave ( Recharge 5-6 ).</em></strong>
    The creature slams on the ground, causing a small earthquake. Each creature within a thirty foot radius of the creature must make a DC 19 Dexterity saving throw, taking 45 (10d6) bludgeoning damage on a failed save and half as much on a successful one. On a failed save, the target is knocked prone and pushed back 30 ft away from this creature.
  </p>
</div>