<div class="item-block">
  <h2>Amulet of the Six</h2>
  <em>Wondrous item, varying rarity (requires attunement for 8 hours)</em>
  <p>
    This amulet bears the symbol of a deity inlaid with precious stones or metals. Each deity grants the casting of a corresponding spell, listed below, based on rarity. The amulet has two charges and recharges in 24 hours. Wisdom is your spellcasting modifier for these spells. Your AC increases by 1 while wearing this amulet.
  </p>
  <h3>Symbol</h3>
  <ul>
    <li><strong>Void: </strong>Black Circle</li>
    <li><strong>Light: </strong>White Circle</li>
    <li><strong>Presence: </strong>A Face</li>
    <li><strong>Movement: </strong>An Arrow</li>
    <li><strong>Force: </strong>Sunburst</li>
    <li><strong>Will: </strong>Flame</li>
  </ul>
  <h3>Common</h3>
  <ul>
    <li><strong>Void: </strong>Sleep</li>
    <li><strong>Light: </strong>Color Spray</li>
    <li><strong>Presence: </strong>Unseen Servant</li>
    <li><strong>Movement: </strong>Expeditious Retreat</li>
    <li><strong>Force: </strong>Shield</li>
    <li><strong>Will: </strong>Heroism</li>
  </ul>
  <h3>Rare</h3>
  <ul>
    <li><strong>Void: </strong>Invisibility</li>
    <li><strong>Light: </strong>Branding Smite</li>
    <li><strong>Presence: </strong>Alter Self</li>
    <li><strong>Movement: </strong>Misty Step</li>
    <li><strong>Force: </strong>Shatter</li>
    <li><strong>Will: </strong>Detect Thoughts</li>
  </ul>
  <h3>Legendary</h3>
  <ul>
    <li><strong>Void: </strong>Banishing Smite</li>
    <li><strong>Light: </strong>Dawn</li>
    <li><strong>Presence: </strong>Conjure Elemental</li>
    <li><strong>Movement: </strong>Animate Objects</li>
    <li><strong>Force: </strong>Wall of Force</li>
    <li><strong>Will: </strong>Telekinesis</li>
  </ul>
</div>