<div class="item-block">
  <h2>Cartridge Blade</h2>
  <em>Weapon, very rare</em>
  <p>
    Any melee weapon may be outfitted with a modification that allows arcane cartridges to power it's attacks. These cartridges vary in intensity and ability, and may only be loaded one at a time.
  </p>
  <p>
    As a bonus action on your turn, you may load your cartridge blade with one cartridge. It can then expended as a reaction, causing the effects to the cartridge to take place. 
  </p>
  <h3>Modification</h3>
  <p>
    Modification of a cartridge weapon is expensive and finding those skilled in the craft can be quite difficult. It is not uncommon for the cost of modification to exceed several hundred gold pieces.
  </p>
  <h3>Common Cartridges</h3>
  <ul>
    <li><strong>Elemental Cartridge: </strong>Deals 1d10 extra elemental damage. Each cartridge may only have one designated element.</li>
    <li><strong>Absorb Elements Cartridge: </strong>Casts Absorb Elements</li>
  </ul>
</div>