<div class="item-block">
  <h2>Ear Radio</h2>
  <em>Wondrous Item, common</em>
  <p>
    These devices serve as high fashion items, but also forms of communication. A user may use the sending spell, limited to a 5 mile radius. An ear radio must be attuned to a network of other ear radios. It takes 5 minutes to add a new device to the network. It is possible to covertly connect to another unwilling network with a DC 15 INT check. On a roll of greater than a 5, you are able to connect to a completely random network, other than the target.
  </p>
</div>