<div class="item-block">
  <h2>Enkiem's Staff</h2>
  <em>Staff, artifact (requires attunement)</em>
  <p>
    This staff is made of pure obsidian and twists at odd angles along the length. The tip is encrusted with a red ruby that gives off a soft glow that reflects off the staff's body.
  </p>
  <p>
    This staff is a +3 quarterstaff. It contains 3 charges of the spell Fire Storm, 5 charges of the spell Insect Plague, and 1 charge of the spell Summon Celestial. Charges of this staff reset after a long rest. A player that attempts to use this staff, that does not have a chaotic evil alignment, must make a DC 20 CON saving throw. On a failure, they take 30 necrotic damage and half that on a success.
  </p>
</div>