<div class="item-block">
  <h2>Glow</h2>
  <em>Potion, common</em>
  <p>
    This sweet teal blue liquid gives off an iridescent glow. When consumed it alters the way a creature perceives the world. They may perceive their environment more sharply or experience lucid hallucinations.
  </p>
  <p>
    For the duration of one hour, make a DC 13 WIS saving throw each time you need to roll to hit, save, or make a skill check with any of your five senses. On a success that roll has advantage. On a failure that roll has disadvantage. The DCincreases by two for each use of Glow. After the duration of this effect take one point of exhaustion.
  </p>
</div>