<div class="item-block">
  <h2>Two Way Journal</h2>
  <em>Wondrous Item (book), rare</em>
  <p>
    There are two books that form a pair. Writing in one journal, will transcribe a message in the other, in the same place of the same page. If a page is torn out, the page will continue to work removed from the book. If a page is burned, its companion can no longer receive or send messages and operates as a normal page. If a companion book is destroyed, the other is rendered as a normal book.
  </p>
</div>